<div class="header">
    <div class="row">
        <div class="col-md-3">Books App</div>
        <div class="col-md-9">
            <a class="nav-btn" mat-button [routerLink]="'/home'"> Home </a>
            <a class="nav-btn" mat-button [routerLink]="'/books'"> Książki </a>
            <a class="nav-btn" mat-button [routerLink]="'/authors'"> Autorzy </a>
            <a class="nav-btn" mat-button [routerLink]="'/publishers'"> Wydawcy </a>
            <a class="nav-btn" mat-button [routerLink]="'/genres'"> Kategorie </a>
        </div>
    </div>
</div>