<div class="book-section" *ngIf="popularBooks">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                    <span>Najbardziej popularne</span>
                </h2>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s" *ngFor="let popularBook of popularBooks;">
                <app-book-card [bookData]="popularBook" (bookChosen)="onBookClicked($event)"></app-book-card>
            </div>
        </div>
    </div>
</div>

<div class="book-section" *ngIf="latestBooks">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn section-title" data-wow-offset="50" data-wow-delay="0.3s">
                    <span>Ostatnie propozycje</span>
                </h2>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s" *ngFor="let latestBook of latestBooks;">
                <app-book-card [bookData]="latestBook"></app-book-card>
            </div>
        </div>
    </div>
</div>
