.book-card {
    background: #404040;
    padding-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    &:hover {
        cursor: pointer;
        opacity: 0.4;
        bottom: 4px;
    }
    &-img {
        width: 255px;
        height: 350px;
    }
    &-author {
        color: #C0C0C0;
        margin-right: 3px;
    }
    &-description {
        font-size: 11px;
    }
}

.book-card .book-description {
    padding: 10px;
    padding-bottom: 5px;
}

.book-card-author {
    color: #C0C0C0;
    margin-right: 3px;
}

.book-card .book-description span {
    color: #28a7e9;
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
}

// .book-card-img {
//     width: 255px;
//     height: 380px;
// }