<div class="row filter-dropdowns-group ">
    <div class="col-10 ">
        <h3>Lista wydawców: {{ dataLength }} pozycji</h3>
    </div>
    <div class="col-2 ">
        <div class="button-row ">
            <div fxFlex="100 " fxLayoutGap="10px ">
                <a class="add-link" href="javascript:void(0)" (click)="openModal( )">Dodaj wydawcę</a>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tbody>
        <tr *ngFor="let publisher of tableData ">
            <td>
                <a href="javascript:void(0)" (click)="publisherDetails(publisher.id)" title="pokaż szczegóły">
                  {{ publisher.name }}
                </a>
            </td>
            <td>
                <a href="javascript:void(0)" (click)="openModal(publisher)" title="edycja">
                  edycja
                </a>
            </td>
        </tr>
    </tbody>
</table>