<!-- <div fxLayout="row">
    <div fxFlex="70%" class="title">
        <h2 class="table-title"> Lista autorów </h2>
    </div>
    <div fxFlex="30%">
        <input type="text" class="filter-input" placeholder="Flitruj dane..." (keyup)="updateFilter($event)" />
    </div>
</div>
<div class="example-container mat-elevation-z2">
    <div class="example-header">
        <ngx-datatable [columnMode]="ColumnMode.force" class="material" [rows]="tableData" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10">

            <ngx-datatable-column name="Dostawca" prop="name" [width]="50">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" (click)="contractorDetails(row)" title="pokaż szczegóły">
                {{ value }}
              </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="email" prop='email'>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Kontakt" prop='phone'>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div> -->